include ./lib/header.jade
    script(language="javascript",src="/ford/static/js/fullScene.min.js")
    link(href="/ford/static/css/fullScene.css",rel="stylesheet",type="text/css")
    body
        div#loading=""
        div.background=""
        div.move=""
        div.move-text=""
        div.view=""
script(language="javascript",src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
